---
// src/components/skills.astro

const { skills = [] } = Astro.props;
---

<div class="skills-wrap flex flex-wrap gap-2 mt-4 items-center">
  {skills.map((s: string) => (
    <span class="skill-pill text-foreground">{s}</span>
  ))}
</div>
